In [1]:
# Lists
# Creation of empty list
list1 = []
print(list1)
list2 = list()
print(list2)

[]
[]

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
#Range is used since it is memory efficient and we can store multiple values without storing in a data structure
range(10)

range(0, 10)

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
#Printing numbers from 100 to 0 
print(list(range(100,-1,-1)))

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [8]:
#Lists
l1 = [1,2,4,5]
l2 = ['a','name']
l1+l2

[1, 2, 4, 5, 'a', 'name']

In [10]:
#Inbuilt functions to add elements are : append, extend (same as concatenation), insert
#So while appending a list, the list itself is considered an item to the original list but when we are extending a list to an existing list, 
#the items are added as items in the existing list. 
l1 = [1,2,3,4]
l1.append([5,6])
print(l1)
l1.extend([7,8])
l1

[1, 2, 3, 4, [5, 6]]

[1, 2, 3, 4, [5, 6], 7, 8]

In [1]:
#Inserting an element at a given index is done using insert function which accepts two parameters : first is the location, second is the value
l1 = [2,3,4]
l1.insert(2,[17,3])
l1

[2, 3, [17, 3], 4]

In [4]:
#Removing elements in list includes these functions: Remove, Pop, Delete, Clear
#remove function removes the first occurrence of the element, we can have list indices as well as arguments. 
marks = [10,20,30,10,20]
marks.remove(10)
marks

[20, 30, 10, 20]

In [10]:
#Pop() removes the top element of stack when there are no arguments, otherwise the value at the index present.
marks = [20,24,44]
marks.pop()
# print(marks)
print(marks)
marks.pop(1) #index , not the value
marks

[20, 24]

[20]

In [16]:
#Del operator used to remove item based on index position, here only we can use ###slicing of lists .
lst = ['one','two','three','four','five']
del lst[0]
lst

['two', 'three', 'four', 'five']

In [17]:
del lst[1:3]
lst

['two', 'five']

In [18]:
#Clear is used to convert the existing list into an empty list.
a = [3,4,5]
a.clear()
a

[]

In [9]:
#Some misc functions allowed in a list are : reverse(), sorted(), count(), copy(), index(), min(), max(), sum() 
list1 = [1,2,3]
list1.reverse()
list1

[3, 2, 1]

In [10]:
l1 = ['a','b','c']
l1.reverse()
l1

['c', 'b', 'a']

In [11]:
#Sorted() can be used for both asc and desc order
#Here the original list is not changed.
#It can be done in two ways: using sorted() and sort()

numbers = [1,21,13,34,5]
sorted(numbers)

[1, 5, 13, 21, 34]

In [12]:
sorted(numbers, reverse = True)

[34, 21, 13, 5, 1]

In [13]:
numbers.sort()
numbers

[1, 5, 13, 21, 34]

In [14]:
numbers = ['a','c','b']
numbers.sort()
numbers

['a', 'b', 'c']

In [15]:
sorted(numbers, reverse = True)

['c', 'b', 'a']

In [1]:
numbers = [1,1,2,2,3]
numbers.count(1)

2

In [3]:
numbers.index(2)
#Returns index of first occurrence

2

In [4]:
#Shallow Copy
l1 = [1,2,3]
l2 = l1
l2.append(4)
l1

[1, 2, 3, 4]

In [2]:
#Deep copy
l1 = [2,3,4]
l2 = l1.copy()
l2.append(5)
print(l1)
print(l2)

[2, 3, 4]
[2, 3, 4, 5]

In [1]:
tup = ()
tup

()

In [2]:
tup1 = (1,2,3,'a')
del tup1

In [3]:
tup1

NameError: name 'tup1' is not defined

In [4]:
tup1 = ('bighna',1,2,2,1,3)
tup1.count(1)

2

In [5]:
tup1.index(2)

2

In [6]:
sorted(tup1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [7]:
#Tuple membership which is in operator
'bighna' in tup1

True

In [8]:
'''
Sets --> unordered collection of items, does not support multiple datatypes, no duplicates
For adding elements : we have add, update, 
For deleting elements : we have discard, remove, pop, delete, clear
Set operations are union, intersection, difference, difference_update, symmetric_difference, symmetric_difference_update, issubset(), issuperset(),
isdisjoint()
'''

s = set()
s

set()

In [9]:
s.add(3)
s.add('a')

In [10]:
s

{3, 'a'}

In [11]:
s1 = {2,3,1}
s1

{1, 2, 3}

In [12]:
s.update([1,2,3])

In [13]:
s

{1, 2, 3, 'a'}

In [14]:
s.update([6,1,2],(3,4,5))

In [18]:
s.discard('a')

In [19]:
s

{1, 2, 3, 4, 5, 6}

In [20]:
s.remove(7)

KeyError: 7

In [21]:
s.discard(7)

In [22]:
s

{1, 2, 3, 4, 5, 6}

In [23]:
#Shallow copy
s1 = {1,2,3,4}
s2 = s1
s2.add(5)
s2

{1, 2, 3, 4, 5}

In [24]:
s1

{1, 2, 3, 4, 5}

In [25]:
#Deep copy
s3 = s1.copy()
s3.add(6)
print(s3)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [27]:
s = {'rama', 'shyam', 'bighna',1,2,2}
s

{1, 2, 'bighna', 'rama', 'shyam'}

In [28]:
s.pop()

1

In [29]:
s

{2, 'bighna', 'rama', 'shyam'}

In [30]:
s = {2,2,3,3,7,4,'siva','rama'}
s

{2, 3, 4, 7, 'rama', 'siva'}

In [31]:
s.pop()

2

In [32]:
s

{3, 4, 7, 'rama', 'siva'}

In [33]:
s.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [34]:
s = {1,2,3,4,5}
del s

In [35]:
s

NameError: name 's' is not defined

In [36]:
s1 = set()
s1.add(6)
s1

{6}

In [37]:
s1.clear()

In [38]:
s1

set()

In [42]:
#Set operations : 
set1 = {1,2,3,4}
set2 = {3,4,5,6}
union = set1 | set2
intersection = set1 & set2
difference = set1 - set2
symmetric_difference = set1 ^ set2
print(union)
print(intersection)
print(difference)
print(symmetric_difference)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [43]:
set1

{1, 2, 3, 4}

In [45]:
c = {1,2,3}
d = {1,3,4,2}
c.issubset(d)

True

In [48]:
d.issuperset(c)

True

In [49]:
s1 = {1,2,3}
s2 = {4,5}
s1.isdisjoint(s2)

True

In [50]:
c.isdisjoint(d)

False

In [1]:
#Dictionaries
dict = {}
dict

{}

In [42]:
dict1 = dict()
dict1

{}

In [43]:
dict1.update({'key1' : 32, 'key2' : 34, 'key3' : 45})

In [44]:
dict1

{'key1': 32, 'key2': 34, 'key3': 45}

In [45]:
#Mainly we have 3 basic methods to find keys, values, and items in the whole dictionary
dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [46]:
dict1.values()

dict_values([32, 34, 45])

In [47]:
dict1.items()

dict_items([('key1', 32), ('key2', 34), ('key3', 45)])

In [48]:
#To delete any element we use pop() method or del operator
dict1.pop('key1')

32

In [49]:
dict1

{'key2': 34, 'key3': 45}

In [50]:
#For adding a single element or updating the values inside the key, we use assignment operator
dict1['key4'] = 36

In [51]:
dict1

{'key2': 34, 'key3': 45, 'key4': 36}

In [52]:
#For updating value of key2 to 46, we can use the same assignment operator.
dict1['key2'] = 46

In [53]:
dict1

{'key2': 46, 'key3': 45, 'key4': 36}

In [54]:
#Nested Dictionary
student1 = {'name' : 'Bighnaraj', 'ID': 19}
student2 = {'name' : 'Asmit', 'ID': 24}
student3 = {'name' : 'Amrit', 'ID': 35}
stud_dictionary = {'first' : student1, 'second' : student2, 'third' : student3}

In [55]:
stud_dictionary

{'first': {'name': 'Bighnaraj', 'ID': 19},
 'second': {'name': 'Asmit', 'ID': 24},
 'third': {'name': 'Amrit', 'ID': 35}}

In [56]:
#If we have a list inside a dictionary, we can access through indexing 
dict3 = {'key1' : {1,2,3},
         'key2' : [3,9,1],
         'key3' : (67,12,33)
        }
dict3['key2'][1]

9

In [61]:
#This gives error as it is taking key2[1] as 'e' , so we can use del here
dict3.pop('key2'[1])

KeyError: 'e'

In [62]:
del dict3['key2'][1]

In [63]:
dict3

{'key1': {1, 2, 3}, 'key2': [3, 1], 'key3': (67, 12, 33)}