In [3]:
#Arithmetic Operators
#Paranthesis
(2 + 12 ) * (9 // 4)

28

In [5]:
num1 = 2
num2 = 4
add = num1+num2
difference = num1-num2
multiply = num1 * num2
exact_division = num1/num2
floor_division = num1//num2
power = num1 ** num2
modulus = num1%num2
print("Addition : {}, Subtraction: {}, Multiplication: {}, Exact_Division: {}, Floor_Division: {}, Power: {}, Modulus: {}".format(add, difference, multiply,
exact_division, floor_division, power, modulus))

Addition : 6, Subtraction: -2, Multiplication: 8, Exact_Division: 0.5, Floor_Division: 0, Power: 16, Modulus: 2

In [6]:
#Precedence of Arithmetic operators as PEMDAS
'''
PARANTHESIS
EXPONENT
MULTIPLICATION, DIVISION
ADDITION, SUBTRACTION

'''
15 / 5 // 2

1.0

In [7]:
a,b = 10,20
a - b * a / b + a

10.0

In [1]:
#Comparison or Relational Operators which are <,>,<=,>=,==,!=
3 * 3 < 4 * 2

False

In [5]:
#This evaluates to True as 45(int) is implicitly converted to 45.0(float)
45 == 45.0

True

In [6]:
#This evaluates to False, since string comparison is case - sensitive.
'HI' == 'hi'

False

In [8]:
#Bitwise Operators
#These work on operands as if they were string of binary digits.
bin(7) # --> 0b111 signifies 0b as binary and 111 is the value in binary.

'0b111'

In [9]:
#For binary to decimal
a = 0b111
print(a)

7

In [11]:
7 | 9 # 7 is 0111 , 9 is 1001, so when we do bitwise OR, we get 1111(finally the ans will be in decimal)

15

In [12]:
7 & 9

1

In [4]:
#Logical Operators
not True

False

In [5]:
(3>4) or (1<3)

True

In [6]:
#Order of precedence include : paranthesis, not, and, or
(2 == 2) and (2 == 3) or (4 == 4)

True

In [7]:
True or False and False

True

In [8]:
(True or False) and False

False

In [9]:
not (True and False) or (False and True)
#This evaluates to not (False) or (False)
# True or False --> True

True

In [10]:
#Assignment Operators
num = 39

In [11]:
num += 1
num

40

In [12]:
num |= 5
num #This evaluates to num = num | 5 --> 40 | 5 --> 101000 | 000101, so we get 101101 which is 45

45

In [13]:
#Identity Operators (is and is not are referred to as identity operators in python)
#They are used to check if the two values or variables refer to same part of memory or not.
a = 5
b = 5
print(a is b)

True

In [14]:
s1 = "satish"
s2 = "Satish"
print(s1 is not s2)

True

In [15]:
a = 6
b = 8
print(a is not b)

True

In [16]:
#Membership Operator(in and not in operator)
#These are used to check if a value or a variable is found in a sequence(string, list, tuple, set, dictionary)
a = 'Bighnaraj'
'raj' in a

True

In [17]:
'aaj' in a

False

In [18]:
numbers = [1,2,3]
1 in numbers

True

In [19]:
#This is because the in operator, when used with a dictionary, checks if the given key exists in the dictionary, not the value.
dict1 = {1: 32, 2: 33, 3: 34}
print(32 in dict1)
print(1 in dict1)

False
True

In [20]:
#For values, we have to check in dict1.values()
32 in dict1.values()

True

In [22]:
#Precedence in operators are as follows: 
#PEMDAS --> BITWISE(SHIFTS, AND, XOR, OR) --> COMPARISON, MEMBERSHIP, IDENTITY --> LOGICAL OPERATORS(NOT, AND, OR)