In [1]:
a = input('Enter a number : ')
type(a)

Enter a number :  32

str

In [2]:
# Multiple entries in a single line
firstName, lastName = input("Enter your name: ").split(" ")
print(firstName)
print(lastName)

Enter your name:  Bighnaraj Mohapatra

Bighnaraj
Mohapatra

In [1]:
a = 100
print(a)

100

In [2]:
print('a')

a

In [3]:
a = 100
type(a)

int

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
len(keyword.kwlist)

35

In [6]:
true = "Hello"
true

'Hello'

In [7]:
# We cannot declare the name of a variable starting with a digit
4b = 69

SyntaxError: invalid decimal literal (3879533741.py, line 2)

In [8]:
#No special characters are allowed while naming a variable
$dollar = 3

SyntaxError: invalid syntax (321556327.py, line 2)

In [9]:
# We can start the name of a variable with an underscore 
_greeting = "Good afternoon"
_greeting

'Good afternoon'

In [10]:
# Whenever we assign a different value to a variable, its id changes
num = 100
print(id(num))
num = 101
id(num)

140707490877320

140707490877352

In [11]:
num1 = 100
num2 = 200
sum = num1 + num2
print(sum)

300

In [12]:
a = b = c = 18
a

18

In [13]:
# Deleting element 
a = 750
print(a)
del(a)
print(a)

750

NameError: name 'a' is not defined

In [14]:
# Deleting multiple elements
a = 100
b = 350
c = 120
del (a,c)
print(b)

350

In [15]:
a = 19
b = 34
c = 46
print(a,b,c)

19 34 46

In [16]:
a = 19, b = 34, c = 46
print(a,b,c) # WE CANNOT DECLARE IN THIS WAY

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2239484798.py, line 1)

In [18]:
# DECLARATION OF VARIABLES IN A SINGLE LINE
a,b,c = 10,12,13
print(a,b,c)

10 12 13